# farid_lesson_002.ipynb
# 2022.01.30

# Step by step explanation

In [9]:
# SYNTAX Initialize a VARIABLE
a = 23
s = 'I love Margarita'

print(s)
print(a)
a='hello'
print(a)

I love Margarita
23
hello

In [13]:
# USE '==' only for checking equality
a=3
b=3
a==b

True

In [14]:
if a==b:
    print('a and b are the same')
else:
    print('a and b are different')

a and b are the same

In [37]:
# SYNTAX: defining a function
def my_func(v1, v2, v3   ):
    # code 
    return res

In [40]:
# example1: compute power 2 of a given number
def power_two(v1):
    res = v1*v1 
    return res

In [43]:
power_two(v1=8)

64

In [ ]:
a=6991; 
print(a)

In [3]:
2+3+7

12

In [3]:
s = 'I love my wife'
print(s)

I love my wife

In [4]:
su = s.upper()
su

'I LOVE MY WIFE'

In [5]:
sl = s.lower()
sl

'i love my wife'

In [6]:
len(s)

14

In [7]:
sn = su + ' -- ' + sl
sn

'I LOVE MY WIFE -- i love my wife'

In [8]:
s[2]

'l'

In [55]:
s = 'I love my wife.'
s.split(' ')

['I', 'love', 'my', 'wife.']

In [2]:
s=s.replace('.','')
s.split(' ')

['I', 'love', 'my', 'wife']

In [3]:
list(s)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'm', 'y', ' ', 'w', 'i', 'f', 'e']

# s1='abcd'
# create another string s2, which 
# has all characters of s1 in reverse order

In [4]:
s1='abcd'
c1 = list(s1)
c1

['a', 'b', 'c', 'd']

In [5]:
c1[3]

'd'

In [6]:
c2=c1.copy()
c2

['a', 'b', 'c', 'd']

In [7]:
c2[0] = c1[3]
c2[1] = c1[2]
c2[2] = c1[1]
c2[3] = c1[0]

c2

['d', 'c', 'b', 'a']

In [20]:
s2 = ''.join(c2)
s2

'dcba'

In [8]:
def reverse_string(s):
    c1 = list(s)
    c2=c1.copy()
    c2[0] = c1[3] # 3-0
    c2[1] = c1[2] # 3-1
    c2[2] = c1[1] # 3-2
    c2[3] = c1[0] # 3-3
    s2 = ''.join(c2)
    return s2

In [42]:

def reverse_string(s):
    c1 = list(s)
    c2=c1.copy()
    
    N=len(s)
    for i in range(N):
        c2[i] = c1[ (N-1) - i ]
        
    s2 = ''.join(c2)
    return s2

In [43]:
s='123456789'
reverse_string(s)

'987654321'

In [25]:
s

'I love my wife'

In [48]:
reverse_string(reverse_string('I love my wife'.upper())).lower().capitalize()

'I love my wife'

In [50]:
r = "123456789"
r[-1:-5:-1]

'9876'

In [32]:
reverse_string(s='ABCD')

'DCBA'

In [33]:
reverse_string(s='123456')

'432156'

In [12]:
reverse_string(s='DINARA')

'ANIDRA'

In [ ]:
c2=['d', 'c', 'b', 'a']
c2

In [ ]:
c2[0]

In [ ]:
''.join(c2)

In [ ]:
'&%'.join(c2)

In [ ]:
# s = 'i love my wife'
s = 'Music is the art \
of arranging sounds in time through the elements of melody, harmony, rhythm, and timbre.\
It is one of the universal cultural aspects of all human societies. General definitions \
of music include common elements such as pitch (which governs melody and harmony), rhythm \
(and its associated concepts tempo, meter, and articulation), dynamics (loudness and softness),\
and the sonic qualities of timbre and texture (which are sometimes termed the "color" of a musical sound).\
Different styles or types of music may emphasize, de-emphasize or omit some of these elements. \
Music is performed with a vast range of instruments and vocal techniques ranging from singing \
to rapping; there are solely instrumental pieces, solely vocal pieces (such as songs without \
instrumental accompaniment) and pieces that combine singing and instruments.'

word_list = s.split(' ')
print('word_list:\n', word_list)
N=len(slst)
print(f'hello, your sent has {N} words')

char_list = list(s)
print('char_list:\n' , char_list)

In [ ]:
# s='Music is the art of arranging sounds in time through the elements of melody, harmony, rhythm, and timbre.[1][2] It is one of the universal cultural aspects of all human societies. General definitions of music include common elements such as pitch (which governs melody and harmony), rhythm (and its associated concepts tempo, meter, and articulation), dynamics (loudness and softness), and the sonic qualities of timbre and texture (which are sometimes termed the "color" of a musical sound). Different styles or types of music may emphasize, de-emphasize or omit some of these elements. Music is performed with a vast range of instruments and vocal techniques ranging from singing to rapping; there are solely instrumental pieces, solely vocal pieces (such as songs without instrumental accompaniment) and pieces that combine singing and instruments.'

In [ ]:
s = 'i love my wife'
s[3]

In [ ]:
s='electricity'
s[:3]

In [ ]:
s[-3:]

In [ ]:
s[3:7]

In [ ]:
s='abcd'
len(s)

In [ ]:
# for i in range(len(s)):
#     print(i)

In [ ]:
print('original string is: ', s)
s_lst = list(s)
print('Rita list s_lst : ', s_lst)

# first we copy the original list/string
s2_lst = s_lst.copy()

# now we replace list elements
s2_lst[0] = s_lst[3]
s2_lst[1] = s_lst[2]
s2_lst[2] = s_lst[1]
s2_lst[3] = s_lst[0]

print("s2_lst = ", s2_lst)

s2 = ''.join(s2_lst)
print('new string is: ', s2)

# Defining functions

In [ ]:
def rev_string(s):

In [ ]:
# s='abcd'
# s2 = s
# for i in range(len(s)):
#     s2[i] = s[len(s)-i]

In [ ]:
def find_words_with_root(TEXT, ROOT):
    ''' function finds all words with the same ROOT in TEXT
     returns a list of words '''

     # write your code here

In [51]:
ROOT = 'shoe' 
TEXT = "here is some 'test' about shoe, shoeman, shoewoman and shoes"

In [ ]:
# your func must return this list
['shoe', 'shoeman', 'shoewoman' , 'shoes']

In [84]:
def find_words_with_root(TEXT, ROOT):
    ''' function finds all words with the same ROOT in TEXT
     returns a list of words '''
    res = []
    show_list=TEXT.split(' ')
    for w in show_list:
        print(w)
        if w[:len(ROOT)]==ROOT:
#             print(w)
            res.append(w)
    return res

In [85]:
ROOT='shoe' 
TEXT="here is some test about shoe, shoeman, shoewoman and shoes"
find_words_with_root(TEXT, ROOT)

here
is
some
test
about
shoe,
shoeman,
shoewoman
and
shoes

['shoe,', 'shoeman,', 'shoewoman', 'shoes']

In [87]:
ROOT='sho' 
TEXT="here is some test about shoe, shoeman, shoewoman and shoes in the shores of Africa "
find_words_with_root(TEXT, ROOT)

here
is
some
test
about
shoe,
shoeman,
shoewoman
and
shoes
in
the
shores
of
Africa

['shoe,', 'shoeman,', 'shoewoman', 'shoes', 'shores']

In [59]:
text ='sjsj jdjd dkdk'
text

show_list=TEXT.split(' ')
show_list

['here',
 'is',
 'some',
 'test',
 'about',
 'shoe,',
 'shoeman,',
 'shoewoman',
 'and',
 'shoes']

In [65]:
sz=len(show_list)
sz

for i in range(sz):
    print(i, show_list[i])

0 here
1 is
2 some
3 test
4 about
5 shoe,
6 shoeman,
7 shoewoman
8 and
9 shoes

In [73]:

res = []
for w in show_list:
    if w[:4]=='shoe':
        print(w)
        res.append(w)

shoe,
shoeman,
shoewoman
shoes

In [75]:
res

['shoe,', 'shoeman,', 'shoewoman', 'shoes']

In [69]:
w[:4]

'shoe'