#  Worksheet: First steps in Python

## Using Python as a calculator

You can type expressions of Python into a Jupyter Notebook, in one of the boxes that say "In [...]", and have Python evaluate them. Here is an example:

In [1]:
2+2

4

Click into the box that says "2+3", then click "Run" to see an output. You can also modify the contents of the box to get a different expression, for example 2+4, then hit "Run" again to re-evaluate. 

Here are more examples of Python expressions. Can you figure out what ```**``` does?

In [2]:
43 / 2

21.5

In [3]:
3 **4

81

Here is an expression that is a string. Python knows it is a string because it is enclosed in double quotes, like "this". Single quotes, like 'this', also work.

In [4]:
"Hello world"

'Hello world'

Python knows about basic arithmetic expressions. It also uses "+" not only to add numbers, but also to paste strings together:

In [5]:
"Hello" + " " + "world"

'Hello world'

If you want to evaluate all the boxes in this notebook in one go, you can hit the "fast forward" button above to re-run all the code boxes. A dialog will come up asking you whether you want to proceed. It is safe to do so at this point.

Some other mathematical functions are not loaded automatically, you have to request them:

In [6]:
import math
math.sqrt(3)

1.7320508075688772

We import the ```math``` package, then we have access to the ```sqrt``` function. Since it comes from the ```math``` package, we need to write ```math.sqrt()```. (That way, if you happen to also import another package in which ```sqrt()``` is a function that prints 20 exclamation marks on the screen, you can distinguish the two.)

## Variables

On your hard drive, you store data in files. Each file has a name by which you can retrieve the data. In programming languages, you also often need to store data, for example the result of some calculation that you intend to use in another calculation later. And again, you need to give names to the stored data, so you can retrieve it later. In a programming language, you make a *variable* in which you store data, and you give it a name by which you can retrieve the data. 

Try running the following box:

In [7]:
myvar = 2 + 3
myvar

5

The output you saw is the content of ```myvar```. Here it is again:

In [8]:
myvar

5

You can change the contents of a variable by again using "=" for assignment:

In [9]:
myvar = 7

You can access the contents of a variable through its name:

In [10]:
another_number_var = myvar * 3
another_number_var

21

We store the value 5 (the value of the expression "2+3") in myvar by typing ```myvar = 2+3```. We can then retrieve the stored data by its name: If we type the name of the variable, Python supplies the stored value. We can use the variable as a stand-in for its value: After we have stored the number 7 in ```myvar```, ```myvar * 3``` has the same value as ```7 * 3```.

When you update a file, you are storing a new value under its existing name. You can do the same with a variable. In the line ```myvar = 7``` we are storing a new value in the same variable that we had before, myvar.

You choose the names for the variables you use. What can you choose the name of a variable to be?

* Variable names can contain letters, numbers, underscore
* They must not start with a number.
* They must not be identical to one of the "reserved words" that Python has already defined.

*Warning*: There are some names that are already defined in Python that you can still use as a variable name, for example "sum" (which is a function that calculates the sum of multiple values). But if you re-define that as a variable name, you can't use it in its original sense anymore. That is, if you define ```sum = 2+3```, then you cannot access the function that calculates the sum of multiple values anymore: you have basically overwritten the previous value of the variable "sum". This is a very popular bug. 

You can also change a variable like this:

In [11]:
myvar = myvar + 2

Remember `=` is not a statement of equality, that would be nonsensical. Instead, `=` means "store", in this case : Take what is in ```myvar```, add two to it, and store the result in ```myvar```. So, ```myvar + 2``` is 9, which is now being stored in ```myvar```, as you can check:

In [12]:
myvar

9

**Try it for yourself:** Make up a variable name of your choosing, and store in it the value of the expression ```2**4```. Inspect your variable to see what it contains. Then reduce its value by 1. Now make up a second variable, and set it to have the same value as the first one.

In [3]:
myvar = 2 **4
myvar = myvar - 1
myvar

15

## Data types: strings and numbers

We have encountered data of (at least) three data types so far:

* Integers
* Floating point numbers
* Strings

Different data types come with different operations. Integers and floating point numbers can be added, subtracted, divided, ... Strings can be concatenated, you can count letters in them, and so on. You can subtract one number from another:

In [13]:
123 - 5

118

But you cannot subtract strings. Remove the "#" at the beginning of the next line, then run, to get an error.

In [14]:
# "hello" - "world"

By the way: When something goes wrong, Python gives you an error message. Please read this message! It will help you figure out what went wrong. Here, it says that you cannot subtract a string from a string.

Especially in the beginning, you will see a lot of error messages. But don't worry, you will see fewer of them very soon.

Here is something that works for strings but not numbers: strings have a length, but numbers don't.

In [15]:
len("hello world")

11

Remove the "#" at the beginning of the following line to get an error message:

In [16]:
# len(123)

There are built-in functions in Python that convert data from one type to another. ```int()``` converts to an integer. You can apply it to a string, if it actually contains an integer. Remember: "3" is a string because of the quotes, while 3 is a number. You can also apply ```int()``` to a floating point number. ```float()``` converts to a floating point number, and ```str()``` converts to a string:

In [17]:
int("123")

123

In [18]:
int(456.7)

456

Remove the "#" at the beginning of the following line to get an error message:

In [19]:
# int("hello")

In [20]:
float(12)

12.0

In [21]:
float("3.14")

3.14

In [22]:
str(3.14)

'3.14'

You can also ask Python what the type of a piece of data is., using the function ```type()```. The type of a variable is the type of its contents.

In [23]:
type(1)

int

In [24]:
type(1.1)

float

In [25]:
type("1")

str

In [26]:
type("hello world")

str

In [27]:
type(myvar)

int

## The built-in function ```print```
The builtin function "print" prints its argument(s) to the screen. When given a mathematical expression, it prints the result. When given a variable, it prints its contents.

In [28]:
print("hello world")

hello world

Within Jupyter Notebooks, ```print()``` is particularly useful when you have a box with multiple commands, and you want to print the result of intermediate steps. Here is an example.

By the way, if you give more than one argument to "print", it prints them with one space inbetween. (You can instruct print() to put something other than a single space between them; we will get back to this.)

In [29]:
num_iterations = 5
print("num iterations", num_iterations)
num_iterations = num_iterations + 2
print("num iterations now", num_iterations)
greeting = num_iterations * "hello! "
print(greeting)

num iterations 5
num iterations now 7
hello! hello! hello! hello! hello! hello! hello!

## Strings

Strings in Python are arbitrary sequences of characters, enclosed in either "..." or '...'. (Most of the time, it doesn't matter if you use single or double quotes. Just make sure you use the same type of quotes at the beginning and the end.)

To make a string that runs over more than one line, use ```"""..."""``` That is, three double quotes, then your string, then three double quotes. (You can also use three single quotes on either side. But you have to use the same kinds of quotes.) For example, here is a string that holds the first two paragraphs of the Wikipedia entry on Python.

In [30]:
wikipedia_on_python = """Python is a general-purpose, high-level programming language
whose design philosophy emphasizes code readability.Python claims to combine "remarkable power with very 
clear syntax", and its standard library is large and comprehensive. 
Its use of indentation for block delimiters is unique among popular programming languages.
Python supports multiple programming paradigms, primarily but not limited to object-oriented, 
imperative and, to a lesser extent, functional programming styles. 
It features a fully dynamic type system and automatic memory management, similar to that of 
Scheme, Ruby, Perl, and Tcl. 
Like other dynamic languages, Python is often used as a scripting language, but is also 
used in a wide range of non-scripting contexts. Using third-party tools, Python code can 
be packaged into standalone executable programs. Python interpreters are available for many operating systems."""
len(wikipedia_on_python)

902

As we want to process natural language text, strings and string manipulations are going to be very important. Luckily for us, Python has a lot of built-in functionality for doing things with strings.

### Some built-in string functions

A note on notation: Some functions in Python are written like functions in mathematics: function name, then brackets, then arguments, for example

`len("hello")`

Other functions are written in a different format: First one argument, then a period, then the function name, then other arguments in parentheses, for example

`"hello".capitalize()`

For now, just know that there are these two formats, and know that you need to remember which function is written in which fashion.

Here are some useful string functions. Try them out to see what they do.

In [31]:
"hippopotamus".count("p")

3

In [32]:
"KNIGHT".lower()

'knight'

In [33]:
"new".upper()

'NEW'

In [34]:
"new".capitalize()

'New'

In [35]:
"    a lot of spaces, then some text ".strip()

'a lot of spaces, then some text'

In [36]:
"armadillo".replace("mad", "happy")

'arhappyillo'

Also, as mentioned above, you can use "+" to concatenate strings.

Here is a string function that we will use a lot. It splits text on whitespace, returning something called a list, which we will discuss more later. We apply it to the first sentence of the Wikipedia page on Monty Python. As you can see, the result of ```split()``` is almost a separation of the sentence into words -- what does it get wrong, and why?

In [37]:
mystring = "Monty Python (sometimes known as The Pythons) was a British surreal comedy group who created their influential Monty Python's Flying Circus, a British television comedy sketch show that first aired on the BBC on 5 October 1969."
mystring.split()

['Monty',
 'Python',
 '(sometimes',
 'known',
 'as',
 'The',
 'Pythons)',
 'was',
 'a',
 'British',
 'surreal',
 'comedy',
 'group',
 'who',
 'created',
 'their',
 'influential',
 'Monty',
 "Python's",
 'Flying',
 'Circus,',
 'a',
 'British',
 'television',
 'comedy',
 'sketch',
 'show',
 'that',
 'first',
 'aired',
 'on',
 'the',
 'BBC',
 'on',
 '5',
 'October',
 '1969.']

Some string functions return either True or False. (This is another datatype, called a Boolean.) For example, "in" tests for substrings.

In [38]:
"eros" in "rhinoceros"

True

In [39]:
"nose" in "rhinoceros"

False

Note that you can make the word "nose" from the letters of "rhinoceros", but that is not what "in" tests.

Here are two other functions that return True or False:

In [40]:
"truism".endswith("ism")

True

In [41]:
"inconsequential".startswith("pro")

False

You can find Python documentation for Python 3.x at https://docs.python.org/3/. The subpage that you will probably use most often is the Python Standard Library at https://docs.python.org/3/library/index.html, which documents builtin functions and standard available packages. String functions are described at https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

**Try it for yourself:** Use the string functions above, and the documentation on the Standard Library page, to answer the following questions. Some of the functions you need may only be on the Standard Library page.

* Split the following sequence at each occurence of an "!": ``"ab!cde!!f!ghij!!!"``
* How many letters are in the word "jabberwocky"?
* Concatenate the following strings into a single sequence, making sure to also include a whitespace inbetween them: "hello", "world"
* Test whether all characters in the following strings are digits: "123456", "123.456"
* How many o's are there in "onomotapoeia"? And how many a's?

## Accessing parts of a string

You can use *indexing* to access individual letters or substrings of a string.

In [42]:
"rhinoceros"[3]

'n'

In [43]:
"rhinoceros"[0]

'r'

The 4th character in "rhinoceros" is an "n", and the first is "r". Note that Python indices start at 0, 
so ```"rhinoceros"[0]``` gets you the first character. Also note that indices use straight brackets, not round.

The following carves out a *slice* of a string:

In [44]:
"rhinoceros"[2:5]

'ino'

The slice starts at the third letter (index 2), and ends before the 6th letter.

What happens if you try to access a single character beyond the end of the string? What happens if you do the same with a slice? Try it. 

In the following line, remove the "#" to try the code.

In [45]:
# "art"[3]

In [46]:
"art"[1:4]

'rt'

Do you think negative indices are valid? Give them a try. (They are in fact valid. Can you figure out what they do?)

In [47]:
"art"[-1]

't'

In [48]:
"art"[-3:-1]

'ar'

You can omit one of the indices in the slice. The slice ```"polyphonic"[2:]```  will contain all letters from the 3rd one to the end, and ```"chimera"[:4]"``` has all letters up to and including the 4th.

In [49]:
"polyphonic"[2:]

'lyphonic'

In [50]:
"chimera"[:4]

'chim'

**Try it for yourself:** What other words can you form out of the letters in "rhinoceros"? Find at least 3 words, and construct them in Python using indices to pick letters and using "+" to concatenate them. For example,
if ```r = "rhinoceros"``` then ```r[3:5] + r[-1] + r[-4]``` gets you "nose".

In [4]:
r = "rhinoceros"
r[-1:-5:-1]

'sore'

In [5]:
r[::-1]

'soreconihr'